<%= form_tag quiz_questions_path(@quiz, @question), html: { autocomplete: "off" } do %>
  <%= text_field_tag :number, '', placeholder: 'Number', class: 'form-control m-1 col-lg-4', autofocus: true, autocomplete: 'off' %>
  <%= text_field_tag :title, '', placeholder: 'Title', class: 'form-control m-1 col-lg-4', autocomplete: 'off' %>
  <%= text_field_tag :answer, '', placeholder: 'Answer', class: 'form-control m-1 col-lg-4', autocomplete: 'off' %>
  <%= submit_tag 'Add Question', class: 'btn btn-success m-1' %>
<% end %>
