<h1>Questions</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.number %></td>
        <td><%= question.title %></td>
        <td><%= question.answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Question', new_quiz_question_path(@quiz), class: 'btn btn-success', method: :get %>
<br>
<%= link_to 'Back to Quiz', quiz_path(@quiz) %>
