<%= form_tag quiz_teams_path(@quiz, @team), html: { autocomplete: 'off' } do %>
    <%= text_field_tag :name, '', placeholder: 'Team Name', class: 'form-control m-1 col-lg-4', autofocus: true %>
    <%= submit_tag 'Create Team', class: 'btn btn-success m-1' %>
<% end %>