<h1>Scoreboard</h1>

<table class='table table-borderless table-striped table-dark mb-3'>
  <thead>
    <tr>
      <th scope='col'>Team Name</th>
      <th scope='col'>Score</th>
      <th scope='col'>Last Correct Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name.titleize %></td>
        <td><%= team.score %></td>
        <td><%= team.updated_at.in_time_zone(ActiveSupport::TimeZone.new("Eastern Time (US & Canada)")).strftime("%l:%M %p") %>
        <td><%= button_to 'Questions', quiz_team_path(@quiz, team), method: :get, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Team', new_quiz_team_path(@quiz) %>