
<h1><%= @team.name.titleize %></h1>
<p>Score: <%= @team.score %><p>

<table>
  <% @quiz.questions.order(number: :asc).each do |question| %>
    <tr>
      <% if @team.answers[question.number].to_i == 0  %>
        <%= render partial: 'guesses/form', locals: { question: question, correct: false } %>
      <% else %>
          <%= render partial: 'guesses/form', locals: { question: question, correct: true } %>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= button_to 'Scoreboard', quiz_teams_path(@quiz), class: 'm-3 btn btn-secondary', method: :get %>
<br>

<% if Rails.env.development? %>
  <%= link_to 'Destroy', quiz_team_path(@quiz, @team), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>