<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title , class: 'form-control m-1 col-lg-4', placeholder: 'Title' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-success m-1' %>
  </div>
<% end %>
