<h1>
  <%= @quiz.title %>
</h1>

<%= button_to 'Teams', quiz_teams_path(@quiz), class: 'btn btn-success m-1', method: :get %>
<% if Rails.env.development? %>
  <%= button_to 'Questions', quiz_questions_path(@quiz), class: 'btn btn-success m-1', method: :get  %>
<% end %>
<br><br>
<%= link_to 'All Quizzes', quizzes_path %>
