<td>Question <%= question.number %>: <%= question.title.titleize %></td>
<% if correct %>
  <td style='color: green;'><h3>&nbsp;:) Correct!</h3></td>
<% else %>
  <%= form_tag quiz_team_guesses_path(@quiz, @team, @guess) do %>
      <td><%= text_field_tag :submission, '', placeholder: 'Answer', class: 'form-control m-1', autocomplete: 'off' %></td>
      <%= hidden_field_tag :question_id, question.id %>
      <td><%= submit_tag 'Check Answer', class: 'btn btn-success m-1' %></td>
  <% end %>
<% end %>