/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";
 @import "font-awesome";

 $color-matrix: #00FF41;
 $color-matrix-dark: #008F11;

a:link, a:visited {
	color: $color-matrix;
}

.navbar-dark .navbar-nav .nav-link {
    color: #39ff14;
}

.form-control:focus {
  border-color: $color-matrix;
  box-shadow: 0 0 0 0.5rem rgba(40, 167, 69, 0.25);
}

h1, h2, h3, p {
	color: $color-matrix-dark;
}

td {
	color: $color-matrix;
}

th {
	color: grey;
}