<br><br><br><br><br>

<footer class="footer text-muted">
  <small>
    Puzzle Day, by Anna Craven
  </small>

<%= link_to image_tag("raven.jpg", alt: "Raven", width: 30, height: 30), 'https://www.poetryfoundation.org/poems/48860/the-raven', target: '_blank' %>

</footer>