<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main">
  <%= link_to root_path, method: :get, :class => ' text-decoration-none' do %>
    <%= fa_icon 'puzzle-piece', text: 'Puzzle Day!' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Quizzes', quizzes_path, method: :get, :class => 'nav-link text-decoration-none', id: 'quizzes_link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Quiz', new_quiz_path, method: :get, :class => 'nav-link text-decoration-none', id: 'new_quiz_link' %>
        </li>
    </ul>
  </div>
</nav>
