<!DOCTYPE html>
<html>
  <head>
    <title>PuzzleDay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:black;">
    <%= render 'nav' %>
    <div class='container'>
      <%= render 'flashes' %>
      <%= yield %>
    </div>
    
    <div class='container p-1'><%= render 'footer' %></div>
  </body>
</html>
